spec/requests/todo_schema_get.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="todos">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="todo" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="completed"/>
            <xs:element name="order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>